body {
  background: #f7f7f7;
}

.card {
  border-radius: 18px !important;
}

.btn {
  border-radius: 12px !important;
}

.alert {
  border-radius: 12px !important;
}

.navbar-brand {
  font-size: 1.35rem;
}

.navbar {
  padding-top: .6rem;
  padding-bottom: .6rem;
}
